@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    color: rgb(7, 1, 66);
    background-color: cyan;

  }
}
@layer components {}
.menuLink {
    @apply cursor-pointer hover:text-[#c5c5c5];
  }

  .tags {
    background-color:rgb(102, 246, 246);
    margin-right: 0.5rem;
    margin-top: 0.5rem;
    padding: 3pz 10pz;
    display: inline-block;
    color: rgb(16, 16, 15);
    font-size: 12px;
  }

  .tags:last-child {
    margin-right: 0;
  }


.tags:nth-child(1) {
  background-color: rosybrown;
}

.tags:nth-child(2) {
  background-color: rgb(215, 252, 1);
}

.tags:nth-child(3) {
  background-color: rgb(253, 135, 0);
}

.tags:nth-child(4) {
  background-color: rgb(243, 5, 24);
}